<h1>To look at your Goals/Achievements, please login below.</h1>
<% flash.each do |type, msg| %>
<div>
  <%= msg %>
</div>
<% end %>
<%= form_tag '/login', method: "post" do %>
  <%= label_tag :username, "Enter your Username: " %>
  <%= text_field_tag :username %>
  <br>
  <br>
  <%= label_tag :password, "Enter your Password: " %>
  <%= password_field_tag :password %>
  <br><br>
  <%= submit_tag "Login" %>
<% end %>