<h1>Welcome to Achievement Tracker, please sign up below :)</h1>
<% flash.each do |type, msg| %>
<div>
  <%= msg %>
</div>
<% end %>
<%= form_for @user do |f| %>
  <%= f.label :username, "Create your Username: " %>
  <%= f.text_field :username %>
  <br>
  <br>
  <%= f.label :password, "Create your password: " %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.submit "Create Account" %>
<% end %>