<h1>Create a Goal!</h1>
<p>Your goal will act like the category for achievements to fall under.</p>
<%= render "shared/form_errors", object: @goal%>
<%= form_for @goal do |f| %>
  <%= f.label :category, "What is the goal you want to accomplish?" %>
  <br>
  <%= f.text_field :category %>
  <br>
  <br>
  <%= f.submit "Create Goal" %>
<% end %>
<br>
<p><%= link_to "Back to Home Page", user_path(@user) %></p>