<h1>Create an Achievement</h1>
<%= render 'shared/form_errors', object: @achievement %>
<%= form_for @achievement do |f| %>
  <%= f.label :title, "What is the title for this achievement?" %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :description, "What must you do to complete this achievement?" %>
  <br>
  <%= f.text_area :description %>
  <br>
  <br>
  <%= f.label :value, "How many points is this achievement worth?" %>
  <%= f.number_field :value %>
  <br>
  <br>
  <%= f.label :goal_id, "What goal does this work towards?" %>
  <%= f.collection_select  :goal_id, Goal.all, :id, :category %>
  <%= f.hidden_field :user_id, value: @achievement.user_id %>
  <br>
  <%= f.submit "Create Achievement" %>
<% end %>