<!DOCTYPE html>
<html>
  <head>
    <title>AchievementTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_user %>
      <%= link_to "Logout", { controller: "sessions", action: "destroy"}, method: :delete %>
    <% end %>
  </body>
</html>
